body {
  background-color: grey;
}

.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}
.App h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.container {
  width: 98%;
  /* border: 2px solid red; */
  display: flex;
  margin: auto;
}
.card {
  flex: 1;
  overflow: hidden;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
}
.card img {
  object-fit: cover;
  filter: grayscale(1);
}
.card:hover {
  flex: 3;
}
.card:hover img {
  filter: none;
}
